# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Django
db.sqlite3
/media/
myproject/media/
/staticfiles/
myproject/staticfiles/
*.log

# Environment variables
.env

# Editor
.vscode/
*.swp
.DS_Store
